@{
    ViewData["Title"] = "Registration Success";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="signup-container-wide">
        <h2 class="text-center mt-4">Registration Successful</h2>
        <p class="text-center">Your account has been created successfully. You can now log in using your credentials.</p>
    </div>
</div>

<style>
    body {
        background-color: #f8f9fa;
    }

    .vh-100 {
        height: 100vh;
    }

    .signup-container-wide {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 85%;
        max-width: 800px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
    }

    h2 {
        text-align: center;
    }

    p {
        text-align: center;
    }
</style>
