@*<form asp-action="FastCheckout" method="post">
    <div>
        <label for="firstName">Имя:</label>
        <input type="text" id="firstName" name="firstName" required />
    </div>
    <div>
        <label for="lastName">Фамилия:</label>
        <input type="text" id="lastName" name="lastName" required />
    </div>
    <div>
        <label for="middleName">Отчество:</label>
        <input type="text" id="middleName" name="middleName" required />
    </div>
    <div>
        <label for="phoneNumber">Телефон:</label>
        <input type="tel" id="phoneNumber" name="phoneNumber" required />
    </div>
    <div>
        <label for="deliveryAddress">Адрес доставки:</label>
        <input type="text" id="deliveryAddress" name="deliveryAddress" required />
    </div>
    <div>
        <label for="paymentMethod">Метод оплаты:</label>
        <select id="paymentMethod" name="paymentMethod" required>
            <option value="Card">Карта</option>
            <option value="Cash">Наличные</option>
        </select>
    </div>
    <div>
        <label for="comment">Комментарий:</label>
        <textarea id="comment" name="comment"></textarea>
    </div>
    <button type="submit">Заказать</button>
</form>*@